
navbar {
    /*  Color de letras */
    color: #9e71c1;
}

ul {
    list-style: none;
}

#lista {
    font-family: Arial;
    font-weight: bold;
    font-size: 13px;
}

.separador {
    color: gray;
}

#lista li {
    display: inline;
    padding-left: 3px;
    padding-right: 3px;    
}
